@model IEnumerable<MyMvcPostgresApp.Models.User>

<h2>Lista użytkowników</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Login</th>
            <th>Rola</th>
            <th>Data utworzenia</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Login</td>
                <td>@user.Role</td>
                <td>@user.CreatedAt.ToString("dd.MM.yyyy")</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-controller="Admin" asp-action="Edit" asp-route-id="@user.Id">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>
